#main {
	position: absolute;
	left: 0;
	top: 50px;
	right: 0;
	bottom: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 15%;
	padding-right: 15%;
}

#chat-text-row {
	height: 70%;
}

#comment-row {
	height: 30%;
}

#toolbar {
	padding-right: 50px;
}

.btn-group .active, .btn-group .btn:hover {
	background-color: yellow;
	color: white;
}

/*dialog table style*/
#dialog-table {
	padding: 20px 20px 20px 20px;
	width: 100%;
	border: 2px solid;
	border-radius: 10px;
}

.dialog-row {
	width: 100%;
}

.even-row {
	background-color: #C0C0C0;
}

.odd-row {
	background-color: #808080;
}