#main {
	position: absolute;
	left: 0;
	top: 50px;
	right: 0;
	bottom: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 15%;
	padding-right: 15%;
}

#chat-text-row {
	height: 70%;
}

#case-row {
	height: 30%;
}

#toolbar {
	padding-right: 30px;
	padding-left: 10px
}

.btn-group .active, .btn-group .btn:hover {
	background-color: yellow;
	color: white;
}

/* editable button css */
.editable-btn:hover {
	background-color: white !important;
	color: black !important;
	cursor: auto;
}

.editable-btn {
	background-color: cyan;
}

.editable-btn {
	position: relative;
	margin: 0px 5px 0px 5px;	
}

.editable-btn .editable-btn-checkmark {
	position: absolute;
	top: -8px;
	right: 5px;
}

.editable-btn .editable-btn-cross {
	position: absolute;
	bottom: -8px;
	right: 5px;"
}

.editable-btn .editable-btn-checkmark:hover, .editable-btn .editable-btn-cross:hover {
	cursor: pointer;
}

/*dialog table style*/
#dialog-table {
	padding: 20px 20px 20px 20px;
	width: 100%;
	border: 2px solid;
	border-radius: 10px;
}

.dialog-row {
	width: 100%;
}

.even-row {
	background-color: #C0C0C0;
}

.odd-row {
	background-color: #808080;
}

#dialog-table .disease-entity {
	background-color: yellow;
}

#dialog-table .cure-entity {
	background-color: green;
}

#dialog-table .env-entity {
	background-color: blue;
}

#dialog-table .selected {
	color: white;
}

#dialog-table .question-sentence {
	text-decoration: underline red;
}

#dialog-table .affirmative-sentence {
	text-decoration: underline green;
}

#dialog-table .negative-sentence {
	text-decoration: underline blue;
}

#attribute-view-row {
	padding-left: 50px;
	height: 70%;
}

#save-buttons-row {
	padding-left: 50px;
	height: 30%;
}

.save-button {
	width: 90%;
	margin: 5px 0;
}

.fix-height-div {
	 display: block; height: 85vh
}